#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.box {
  background-image: linear-gradient(to bottom, rgba(16, 17, 24, 0.7), rgba(21, 21, 29, 0.7)), url(../../../public/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  min-height: 100vh;
  padding: 18px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .box {
    padding: 32px;
  }
}

@media screen and (min-width: 1024px) {
  .box {
    padding: 40px;
  }
}