.list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
}

.btn {
    width: 120px;
    height: 40px;
}

.btn:hover,
.btn:focus {
    color: aliceblue;
    background-color: #1f1a25;
    transform: scale(0.98);
    font-weight: bold;
    box-shadow: 3px 4px 4px rgba(0, 128, 255, 0.2);
    transition: all 0.3s ease;
}

@media screen and (min-width: 768px) {
    .list {
        flex-direction: row;
        gap: 14px;
    }
}

@media screen and (min-width: 1024px) {
    .list {
        gap: 18px;
    }

    .btn {
        width: 125px;
        height: 45px;
    }
}